@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fbf0f4;
}

.index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.navbar {
  background-color: #91736B !important;
}

.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  flex-direction: row;
  height: 100px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border: 3px #91736B solid;
  background-color: #fefcfc
}

.header {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #53423d;
  border-bottom: 3px solid #53423d;
}

.tag-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.tag-card {
  display: flex;
  flex-direction: row;
  height: 75px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border: 3px #91736B solid;
  background-color: #fefcfc;
  width: 50%;
}

.user-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border: 3px #91736B solid;
  background-color: #fefcfc
}

.user-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card:hover {
  background-color: #91736B;
  color: #fefcfc;
}

.profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 75px;
  padding: 35px 10px 35px 10px;
  border: 3px #91736B solid;
  background-color: #fefcfc
}

.default-avatar {
  width: 150px;
}

.details-display-name {
  margin-top: 50px;
  font-size: 300%;
}

.details-name {
  margin-bottom: 50px;
}

.details-email {
  margin-bottom: 30px;
}

.details-bio {
  margin-top: 30px;
}

.profile-card-container {
  width: 50%;
  margin: auto auto;
}


.view-btn{
  position: space-around;
  border-radius: 4%;
  color: #FEFCFC;
  margin: 5px;
  width: 150px;
  height: auto;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #91736b;
  padding: 0 0 5px 0;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 3px black;
 }

.edit-btn{
 position: space-around;
 border-radius: 4%;
 color: #FEFCFC;
 margin: 5px;
 width: 150px;
 height: auto;
 border: none;
 font-size: 15px;
 font-weight: bold;
 text-align: center;
 background-color: #91736b;
 padding: 0 0 5px 0;
 text-shadow: 1px 1px 2px black;
 box-shadow: 2px 2px 3px black;
}

.delete-btn{
  position: space-around;
  border-radius: 4%;
  color: #FEFCFC;
  margin: 5px;
  width: 150px;
  height: auto;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #91736b;
  padding: 0 0 5px 0;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 3px black;
}

.add-post-btn {
  position: space-around;
  border-radius: 4%;
  color: #FEFCFC;
  margin: 5px;
  width: 150px;
  height: auto;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #91736b;
  padding: 0 0 5px 0;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 3px black;
}

.sign-out {
  position: space-around;
  border-radius: 4%;
  color: #FEFCFC;
  margin: 5px;
  width: 110px;
  height: auto;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: none;
  padding: 0 0 5px 0;
  box-shadow: 2px 2px 3px black;
}
